.education {
  .degrees {
    margin-top: 60px;
    position: relative;

    .ai {
      margin-bottom: 50px;
    }

    .degree {
      letter-spacing: .15em;
      font-size: 32px;
      font-family: $ex-light;
      text-transform: uppercase;

      @media screen and (max-width: 800px) {
        font-size: 24px;
      }

    }
    .location {
      font-family: $serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
    .time {
      opacity: .3;
      font-family: $bold;
      font-size: 60px;
      letter-spacing: .2em;
      text-transform: uppercase;
      position: absolute;
      z-index: -1;
    }
  }
}

.report-card {
  h1 {
    font-size: 24px!important;
    margin-top: 50px;
  }
  .treebadge {
    margin-bottom: 30px;
  }
  .badges {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 800px) {
      display: none;
    }
    li {
      -webkit-filter: saturate(0);
      transition: .3s;
      &:hover {
        -webkit-filter: saturate(1);
      }
    }
    .more-badges{
      display: none!important;
    }
  }
}
