#resume {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
    transition: 1s ease;

    .title {
      text-transform: uppercase;
      letter-spacing: .2em;
      margin-bottom: -5px;
      font-size: 50px;
      transition: 1s ease;
    }
    .subhead {
      font-family: $serif;
      font-weight: 200;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 40px;
      letter-spacing: .1em;
    }

    .copy {
    }


    &:hover {
      .title {
        letter-spacing: .3em;
      }
    }
  }
  .dark {
    background-color: black;
    color: white;
    h1,h2,h3,h4,h5,h6,p {
      color: white;
    }
  }
  @import 'style';
  @import 'header';
  @import 'about';
  @import 'work';
  @import 'skills';
  @import 'education';
}
