.work {
  .position.wrapper {
    .logo {
      height: 75px;
      width: 75px;
      margin: 0 auto 30px;
      -webkit-filter: saturate(0);
      transition: .3s ease;
    }
    .employer {
      font-family: $light;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: .2em;
      margin-bottom: 10px;
    }
    .title {
      font-size: 14px;
      font-family: $regular;
      letter-spacing: .1em;
      margin-bottom: 5px;
    }
    .date {
      font-family: $light;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .description {

    }
    &.foliomatch {
      .logo {
        background: url('../images/work/foliomatch/folio-logo.png') center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &.koalas {
      .logo {
        background: url('../images/koala-logo.png') center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &.briefcase {
      .logo {
        background: url('../images/briefcase-logo.png') center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:hover {
      .logo {
        -webkit-filter: saturate(1);

      }
    }
  }

  @media screen and (max-width: 800px) {
    .positions {
      .small-4 {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
