html(class="no-js", lang="en")
  include header
  body
    .row.layout-light.work
      include navbar
      .hero.work.foliomatch
        i.fa.fa-chevron-down.down-arrow
      .content
        .row
          .copy.large-4.text-right.columns
            h1 Foliomatch
            h3 Match your future
            p Foliomatch is an education startup in Kansas City. Their goal is to pair students and employers based on skills and keywords that the algroithm matched them. The student could show off more than just their resume, they could show off relevant projects. They hired me during a very early stage in the company, right before they entered an accelerator. I oversaw all design tasks for the company, starting with a brand. 
          img.large-8.columns.packaging(src="../images/work/foliomatch/branding.png")
        .row
          p.medium-8.small-centered.columns.text-center.secondary-copy I took the concept of bringing two forces together to make each other better, and came up with the brand you see above. From there, we went through multiple revisions of their web application interface.
          p.medium-8.small-centered.columns.text-center.secondary-copy This was my first job in graphic design. I came into it knowing nothing about web, and left with knowledge of web design, user experience, interaction design, and front end web development.
        .row
          img.large-12.columns(src="../images/work/foliomatch/showcase.png")

  include footer
