head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Alex Benson • UX and Graphic Design
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Alex Benson is a full stack designer from Kansas City specializing in user experience, graphic design, and front end development.")
    meta(name="author", content="Alex Benson")
    meta(name="keywords", content="kansas, city, design, web, development, user, experience, graphic, interaction")
    meta(name="theme-color", content="#cccccc")
    // build:css css/libraries.min.css
    link(rel="stylesheet" href="css/styles.css")
    // bower:css
    // endbower
    // endbuild
    // build:css css/app.min.css
    // endbuild
    // build:js js/vendor/modernizr.min.js
    script(src="bower_components/modernizr/modernizr.js")
    // endbuild
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    link(rel="icon" href="images/favicon.ico" type="image/x-icon")
