.hero
  video.hero-video(preload, autoplay, muted, loop, poster="images/poster.jpg")
    source(src="images/50thStateFair2012.webm", type="video/webm")
    source(src="images/50thStateFair2012.mp4", type="video/mp4")
  p.hero-description My name is Alex Benson and I am skilled in
  h1.hero-title Graphic Design
  i.fa.fa-chevron-down.down-arrow
