doctype html
html(class="no-js", lang="en")
  include header
  body
    .row.layout-home
      include navbar
      include hero
      
      #services.content
        .services.small-10.small-centered.columns
          h3.section-title Services
          ul.inline-list
            .service-wrapper.hover(data-service='design')
              i.icon-pencil
              li Graphic Design
            .service-wrapper(data-service='ux')
              i.icon-genius
              li User Experience
            .service-wrapper(data-service='dev')
              i.icon-gears
              li Web Development
            .service-wrapper(data-service='identity')
              i.icon-strategy
              li Identity Design
          p.small-10.small-centered.columns.service-copy Design excites me. Seeing something start as just an idea or scribble on a napkin and watching it take shape and grow into a living thing, its the best part of graphic design. Its what makes the hours of research and discovery, failed attempts and crumpled up sketches worth it. There’s nothing better than seeing your work have a positive impact for your client and their customers. I strive to make something better everytime. Thats what keeps me motivated.
          p.small-5.small-centered.columns 
            //- a(href="/resume") Check Out More On My Resume
      
      #work.work
        a(href="/lost-paradise.html").item.lost-paradise.small-12.columns
          .copy.small-8.small-centered.columns
            h2 Lost Paradise
            p Reworking a project from a layout class, I developed this brand and all of its collateral. We were allowed to choose our own product. Not wanting to use lower quality imagery, I decided to create my own. From that decision, this brand was born.
        a(href="/foliomatch.html").item.briefcase.small-6.columns
          .copy.small-10.small-centered.columns
            h2 Foliomatch
            p My very first design job, I came in with no prior experience in web design. During my time there I developed branding, designed their website, and crafted a web application interface for their product.
        a(href="https://www.behance.net/wip/1032101").item.ymca.small-6.columns
          .copy.small-10.small-centered.columns
            h2 YMCA Project
            p Part of a work project, this will eventually be a boilerplate for YMCAs around the world. Taking current branding standards and updating the look, the main goal is to make an attractive, modern YMCA website. 
            em This project is a work in progress and will be updated regularly.
      #hearsay.hearsay.small-12.columns
        .copy
          img.apostrophe(src="images/apostrophe.png")
          h4.section-title Hearsay
          p.quote Alex is an incredible designer and he kicks ass at cooking bacon, too.
          h6.author Nick Mallare, Briefcase
          img.apostrophe.right(src="images/apostrophe.png")
      //- .badges.small-12.columns
        .report-card.treehouse
  include footer
  script(src='js/frontpage.js')
