doctype html
html(class="no-js", lang="en")
  include header
  body
    .row.layout-home
      include navbar
      include hero
      
      #services.content
        .services.small-10.small-centered.columns
          h3.section-title Services
          ul.inline-list
            .service-wrapper.hover(data-service='design')
              i.icon-pencil
              li Graphic Design
            .service-wrapper(data-service='ux')
              i.icon-genius
              li User Experience
            .service-wrapper(data-service='dev')
              i.icon-gears
              li Web Development
            .service-wrapper(data-service='identity')
              i.icon-strategy
              li Identity Design
          p.small-10.small-centered.columns.service-copy Design excites me. Seeing something start as just an idea or scribble on a napkin and watching it take shape and grow into a living thing, its the best part of graphic design. Its what makes the hours of research and discovery, failed attempts and crumpled up sketches worth it. There’s nothing better than seeing your work have a positive impact for your client and their customers. I strive to make something better everytime. Thats what keeps me motivated.
          p.small-5.small-centered.columns 
            //- a(href="/resume") Check Out More On My Resume
      
      #work.work
        a(href="https://dribbble.com/abenson/projects/282705-Parisi" target="_blank").item.featured.parisi.small-12.columns
          .copy.small-8.small-centered.columns
            h2 Parisi Coffee
            p Redesigning Kansas City's premium local coffee brand with an emphasis on responsive mobile viewing, better usability, and an increased push for e-commerce. The challenge was incorporating their existing brand and elements from their former site into a new, fresh look online for a timeless brand.
            
        a(href="https://dribbble.com/shots/2132063-Russell-Wilson-Player-Card" target="_blank").item.player-card.small-6.columns
          .copy.small-10.small-centered.columns
            h2 Player Card
            p Football season. One of my favorite time of the year, and every year I participate in a fantasy league. Well, I thought I'd challenge my skills a bit and make something fun for me. Also, my friend built this in codepen. Looks pretty awesome! Animation coming soon. 
        a(href="https://www.sociy.io" target="_blank").item.ymca.small-6.columns
          .copy.small-10.small-centered.columns
            h2 Sociy.io
            p Part of a work project, this will eventually be a boilerplate for YMCAs around the world. Taking current branding standards and updating the look, the main goal is to make an attractive, modern YMCA website. 
            em This project is a work in progress and will be updated regularly.
            
            
        a(href="/foliomatch.html").item.foliomatch.small-4.columns
          .copy.small-10.small-centered.columns
            h2 Foliomatch
            //- p Part of a work project, this will eventually be a boilerplate for YMCAs around the world. Taking current branding standards and updating the look, the main goal is to make an attractive, modern YMCA website. 
        a(href="/lost-paradise.html").item.lost-paradise.small-4.columns
          .copy.small-10.small-centered.columns
            h2 Lost Paradise
            //- p Part of a work project, this will eventually be a boilerplate for YMCAs around the world. Taking current branding standards and updating the look, the main goal is to make an attractive, modern YMCA website. 
        a(href="https://www.dribbble.com/abenson" target="_blank").item.small-4.columns
          .copy.small-10.small-centered.columns
            h2 More Work
            p I'm currently in the process of building in my Dribbble portfolio onto this page, but in the meantime, check out my ever-growing collection of work over there! 
      #hearsay.hearsay.small-12.columns
        .copy
          img.apostrophe(src="images/apostrophe.png")
          h4.section-title Hearsay
          p.quote Every time I’ve worked with Alex, he has been able to take my ideas and turn them into beautiful designs, conveying the message I’m hoping to get across to my audience.
          h6.author Jackie Emory, Briefcase
          img.apostrophe.right(src="images/apostrophe.png")
      //- .badges.small-12.columns
        .report-card.treehouse
  include footer
  script(src='js/frontpage.js')
