doctype html
html(class="no-js", lang="en")
  include header
  body
    .row.layout-home
      include navbar
      include hero
      
      .content
        .services.small-10.small-centered.columns
          h3.section-title Services
          ul.inline-list
            .wrapper
              i.icon-pencil
              li Graphic Design
            .wrapper
              i.icon-genius
              li User Experience
            .wrapper
              i.icon-gears
              li Web Development
            .wrapper
              i.icon-strategy
              li Identity Design
          p.small-10.small-centered.columns My favorite part of graphic designing is that you can create anything. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      
      .work
        .item.lost-paradise.small-12.columns
          .copy.small-8.small-centered.columns
            h2 Lost Paradise
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
        .item.briefcase.small-6.columns
          .copy.small-10.small-centered.columns
            h2 Briefcase
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
        .item.omnibox.small-6.columns
          .copy.small-10.small-centered.columns
            h2 OmniBox.tv
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
      .hearsay.small-12
        .copy
          img.apostrophe(src="images/apostrophe.png")
          h4.section-title Hearsay
          p.quote Alex is an incredible designer and he kicks ass at cooking bacon, too.
          h6.author Nick Mallare, Briefcase
          img.apostrophe.right(src="images/apostrophe.png")
      .badges.small-10.small-centered
        .report-card.treehouse
  include footer
