html(class="no-js", lang="en")
  include header
  body
    #wrapper
      .row.layout-light.lost-paradise
        include navbar
        .hero.work.lost-paradise.small-12.columns
          i.fa.fa-chevron-down.down-arrow
        .content.small-12.columns
            .copy.large-4.text-right.columns
              h1 Lost Paradise
              h3 Get Lost, Find Yourself
              p Lost paradise is a brand that I developed as part of a catalogue project for a layout class. The idea behind the brand was a enviromentally concious coffee company whos brand centered around the idea of travelling the world through different brews of coffee named for the part of the world they came from, such as: Arabian Nights, Italian Espresso, Summer Sumatra, and Yukon Blend. 
            img.large-8.columns.packaging(src="../images/work/lost-paradise/packaging.png")
            p.medium-8.small-centered.columns.text-center.secondary-copy The assignment was for a brochure, but I went a little futher and created a brand identity, logo, packaging design and carried the project over to another class where I developed creative collateral in the form of a poster that would ship with the coffee.
            img.medium-6.columns.poster(src="../images/work/lost-paradise/poster.png")
            img.medium-6.columns.magazine(src="../images/work/lost-paradise/magazine-layout.png")
      include footer
