html(class="no-js", lang="en")
  include header
  body
    #wrapper
      .row.layout-light
        include navbar
        .hero.work.lost-paradise
          i.fa.fa-chevron-down.down-arrow
        .content
          p coming soon. check back later for more updates.
      include footer
