.navbar
  ul
    a(data-reveal-id="menu")
      li.logo
  #menu.reveal-modal.full(data-reveal)
    .menu.small-12.columns
      .container.small-10.small-centered.columns
        .logo.close-reveal-modal
        ul.small-8.columns.no-bullet.nav-items
          a(href="/") Home
          a(href="/lost-paradise.html") Lost Paradise
          a(href="/foliomatch.html") Foliomatch
          a(href="https://www.behance.net/wip/1032101").wip YMCA Product
          a(href="").comingsoon Resume
          a(href="http://behance.net/alexbenson07") Portfolio
        .contact.right.text-right.small-4.columns
          a.email(href="mailto:alex@stu.aii.edu") alex@stu.aii.edu
          a.phone(href="tel:816.204.7981") 816.204.7981
          p.first Born and Raised
          p in the Midwest
          a.social(href="http://facebook.com/alexbensonphoto")
            i.fa.fa-facebook
          a.social(href="http://twitter.com/alexbensonux")
            i.fa.fa-twitter
          a.social(href="http://behance.net/alexbenson07")
            i.fa.fa-behance
