.navbar
  ul
    a(data-reveal-id="menu")
      li.logo
  #menu.reveal-modal.full(data-reveal)
    .menu.small-12.columns
      .container.small-10.small-centered.columns
        .logo.close-reveal-modal
        ul.small-8.columns.no-bullet.nav-items
          a(href="/") Home
          a(href="https://dribbble.com/abenson/projects/282705-Parisi" target="_blank") Parisi Coffee
          a(href="https://dribbble.com/shots/2132063-Russell-Wilson-Player-Card" target="_blank") Player Card
          a(href="https://www.behance.net/wip/1032101" target="_blank").wip Sociy
          a(href="/resume.html") Resume
          a(href="http://dribbble.com/abenson" target="_blank") Portfolio
        .contact.right.text-right.small-4.columns
          a.email(href="mailto:alex@stu.aii.edu") alex@stu.aii.edu
          a.phone(href="tel:816.204.7981") 816.204.7981
          p.first Born and Raised
          p in the Midwest
          a.social(href="http://facebook.com/alexbensonphoto")
            i.fa.fa-facebook
          a.social(href="http://twitter.com/alexbensonux")
            i.fa.fa-twitter
          a.social(href="http://behance.net/alexbenson07")
            i.fa.fa-behance
