.navbar
  ul
    //- a 
    //-   li About
    //- a 
    //-   li Skills
    a(data-reveal-id="menu")
      li.logo
    //- a 
    //-   li Work
    //- a 
    //-   li Contact
  #menu.reveal-modal.full(data-reveal)
    .menu.small-12.columns
      .container.small-10.small-centered.columns
        .logo.close-reveal-modal
        ul.small-8.columns.no-bullet.nav-items
          //- each item in ['Home', 'Services', 'Work', 'Testimonials', 'Resume', 'Portfolio']
          //-   a= item
          //- a(href="/") Home
          //- a(href="#services") Services
          //- a(href="#work") Work
          //- a(href="#hearsay") Testimonials
          a(href="").comingsoon Resume
          a(href="http://behance.net/alexbenson07").comingsoon Portfolio
        .contact.right.text-right.small-4.columns
          a.email(href="mailto:alex@stu.aii.edu") alex@stu.aii.edu
          a.phone(href="tel:816.204.7981") 816.204.7981
          p.first Born and Raised
          p in the Midwest
          a.social(href="http://facebook.com/alexbensonphoto")
            i.fa.fa-facebook
          a.social(href="http://twitter.com/alexbensonux")
            i.fa.fa-twitter
          a.social(href="http://behance.net/alexbenson07")
            i.fa.fa-behance
