doctype html
html(class="no-js", lang="en")
  include header
  body
    #resume.layout-light
      include navbar
      section.row.header
        .copy.small-6.small-centered.columns.text-center
          h1.title Resume
          h4.subhead And Some Other Info
      section.row.about.dark
        .copy.small-10.small-centered.columns.text-center
          h1.title About
          h4.subhead Why I Do What I Do
          p.small-10.small-centered.columns Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
          p.small-10.small-centered.columns Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
      section.row.work
        .copy.small-10.small-centered.columns.text-center
          h1.title Work
          h4.subhead Professional Experience
          .positions.row
            .small-4.columns
              .position.wrapper.foliomatch
                .logo
                h3.employer Foliomatch
                h4.title Creative Director
                h5.date May '13 - October '13
                p.description I completed branding for the early startup, as well as beginning to working on early versions of the web based application. I completed several revisions of the application as well as took on major marketing and print design responsibilities. I did all of this working part time while working another job and in school full time.  During my time here, I began learning front end languages.
            .small-4.columns
              .position.wrapper.briefcase
                .logo
                h3.employer Briefcase
                h4.title Director of User Experience
                h5.date October '13 - August '14
                p.description I designed and developed the front end of their product, a job search application for college students looking for part-time, full-time, and internship opportunities. We went through several revisions, a seed round of funding, and user testing. We brought 2 full versions to market. I also did website design and front end development for a marketing website for them. I also assisted the marketing department in creative solutions for their strategies, both print and web.
            .small-4.columns
              .position.wrapper.koalas
                .logo
                h3.employer CodeKoalas
                h4.title Full Stack Designer
                h5.date August '14 - Current
                p.description I perform many tasks for this Drupal development firm. I manage all design and marketing solutions for our major client, OmniBox. I have designed, or assisted in the design, of several major websites, as well as assisting in the recent redesign of their personal brand. I also advise on responsive web design to the many developers there. Occasionally, I write CSS and brainstorm interaction design for their projects as well.
      section.row.skills.dark
        .copy.small-10.small-centered.columns.text-center
          h1.title Skills
          h4.subhead Cool Stuff I Can Do
          .skills-icons.small-10.small-centered.columns
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Sketch
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Photoshop
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Illustrator
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Branding
            .icon-wrapper.small-6.medium-2.columns
              i.icon-genius
              p UX/UI
            .icon-wrapper.small-6.medium-2.columns
              i.icon-pencil
              p Graphic Design
            .icon-wrapper.small-6.medium-2.columns
              i.icon-desktop
              p HTML
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Git
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Sketch
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Sketch
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Sketch
            .icon-wrapper.small-6.medium-2.columns
              i.icon-strategy
              p Sketch
      section.row.education
        .copy.small-8.small-centered.columns.text-center
          h1.title Education
          h4.subhead Not Everything Learned Is In The Classroom
          p Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.
          p Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          .degrees
            .ai
              h2.degree Graphic Design, AA
              h6.location Art Institutes International - Kansas City
              //- span.time March 2015
            .team-treehouse
              h2.degree Front End Development
              h6.location www.TeamTreehouse.com
          .row
            .report-card.treehouse.small-12.columns
              //- span.time ongoing
      include footer
