.section-title {
  text-transform: uppercase;
  font-family: $accent-type;
  font-size: 22px;
  letter-spacing: .3em;
}

p {
  font-family: $light;
  font-size: 14px;
}


li {
  font-family: $light;
  text-transform: uppercase;
  font-size: 12px;
}
