#menu {
  position: fixed;


  .menu {
    /* top: 25%; */

    .logo {
      height: 110px;
      width: 110px;
      background: url(../images/logo-dark.png) no-repeat center;
      background-size: contain;
      transition: .5s ease;
      margin: 0 auto;
      margin-bottom: 10%;

      //RESET FOUNDATION STYLES
      position: initial;

      &:after {
        content: 'Click To Close';
        height: 10px;
        width: 100%;
        color: black;
        font-size: 11px;
        position: relative;
        bottom: -100px;
        left: 9px;
        text-transform: uppercase;
        /* opacity: 0; */
      }
    }

    .nav-items {
      a {
        font-size: 34px;
        color: $midgray;
        transition: .3s ease;
        display: block;
        font-family: $light;
        text-transform: uppercase;

        &.comingsoon {
          transition: .5s ease;
          &:after {
            content: 'Coming Soon';
            color: transparent;
            font-size: 15px;
            position: relative;
            left: -40px;
          }
        }

        &:hover {
          color: $black;
          cursor: pointer;
          letter-spacing: .05em;

          &.comingsoon {
            &:after {
              color: #9B9B9B;
              left: 30px;
              letter-spacing: 0.3em;
            }
          }
        }
      }
    }
    .contact {
      a {
        color: $midgray;
        display: block;
        line-height: 44px;
        font-family: $light;

        &.email,
        &.phone {
          font-size: 22px;
          transition: .3s;

          &:hover {
            color: $black;
            cursor: pointer;
            letter-spacing: .05em;
          }
        }
        &.phone {
          font-size: 18px;
        }
      }
      p {
        margin: 0;

        &.first {
          margin-top: 30px;
        }
      }
      a.social {
        display: inline-block;
        .fa {
          margin-left: 15px;
          transition: .3s ease;

          &:hover {
            color: #aaa;
            cursor: pointer;
          }
        }
      }
    }
  }
}
