.navbar {
  // position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  // background: transparentize(#fff, .8);
  padding: 20px;

  ul {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
      color: white;
      align-self: center;


      li {
        display: inline-block;
        margin: 0 50px;
        position: relative;
        font-family: $light;
        text-transform: uppercase;
        font-size: 16px;

        &:after {
          content: '';
          height: 2px;
          width: 0%;
          background: white;
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: .3s ease;
          text-align: center;
        }

        &:hover {
          &:after {
            width: 100%;

          }
        }

        &.logo {
          height: 110px;
          width: 110px;
          background: url(../images/logo.png) no-repeat center;
          background-size: contain;
          transition: .5s ease;
          // background-repeat: no-repeat;
          // // background-position: center;
          // margin: 0 auto;
          // margin-bottom: 20px;
            &:after {
              content: 'Click For Menu';
              height: 10px;
              width: 100%;
              color: transparent;
              background: transparent;
              font-size: 11px;
              bottom: 0px;
              /* opacity: 0; */
            }
            &:hover {

              &:after {
                /* opacity: 1; */
                color: white;
                bottom: -20px;

              }
            }
          }
        }
      }
    }
  }


.layout-light {
  ul a li.logo {
    background: url(../images/logo-dark.png) no-repeat center;
    background-size: contain;

    &:hover {
      &:after {
        color: black;
      }
    }
  }
}


.contact {
  .other-links {
    margin-top: 50px;

    h5 {
      // margin-bottom: -10px;
    }
    a {
      line-height: 24px!important;
      transition: .5s ease;
      display: block!important;
      &:hover {
        letter-spacing: .05em;
      }
    }
  }
}
